.ezy__howitworks12 {
  /* Bootstrap variables */
  --bs-body-color: #212529;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-border-color: rgba(0, 0, 0, 0.3);

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  position: relative;
  padding: 60px 0 120px;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__howitworks12 {
    padding: 100px 0 200px;
  }
}

/* Gray Block Style */
.gray .ezy__howitworks12,
.ezy__howitworks12.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__howitworks12,
.ezy__howitworks12.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-border-color: rgba(255, 255, 255, 0.2);
}

/* Dark Block Style */
.dark .ezy__howitworks12,
.ezy__howitworks12.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-border-color: rgba(255, 255, 255, 0.3);
}

.ezy__howitworks12-heading {
  font-size: 25px;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .ezy__howitworks12-heading {
    font-size: 45px;
  }
}
/* shapes */
.ezy__howitworks12-shape-one {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 200px;
  height: auto;
  z-index: -1;
}
.ezy__howitworks12-shape-two {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 200px;
  height: auto;
  z-index: -1;
}
.ezy__howitworks12-shape-three {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  height: auto;
  z-index: -1;
}

.ezy__howitworks12-cards
  [class*="col-"]:nth-of-type(1n)
  .ezy__howitworks12-card {
  background-color: rgb(243, 73, 73);
  box-shadow: 5px 5px 10px 0 rgba(243, 73, 73, 0.3);
}
.ezy__howitworks12-cards
  [class*="col-"]:nth-of-type(2n)
  .ezy__howitworks12-card {
  background-color: rgb(255, 200, 56);
  box-shadow: 5px 5px 10px 0 rgba(255, 200, 56, 0.3);
}
.ezy__howitworks12-cards
  [class*="col-"]:nth-of-type(3n)
  .ezy__howitworks12-card {
  background-color: rgb(25, 202, 154);
  box-shadow: 5px 5px 10px 0 rgba(25, 202, 154, 0.3);
}
.ezy__howitworks12-cards
  [class*="col-"]:nth-of-type(4n)
  .ezy__howitworks12-card {
  background-color: rgb(117, 103, 248);
  box-shadow: 5px 5px 10px 0 rgba(117, 103, 248, 0.3);
}
.ezy__howitworks12-card {
  border-radius: 10px;
  color: #fff;
}
.ezy__howitworks12-icon {
  font-size: 48px;
}
