[submodule "frontend/crawler"]
	path = frontend/crawler
	url = https://github.com/builderio/gpt-crawler
[submodule "frontend/nocoDB"]
	path = frontend/nocoDB
	url = https://github.com/nocodb/nocodb-seed
[submodule "frontend/gpt-researcher"]
	path = frontend/gpt-researcher
	url = https://github.com/assafelovic/gpt-researcher.git
[submodule "eatnow/crawler"]
	path = eatnow/crawler
	url = https://github.com/builderio/gpt-crawler
[submodule "eatnow/gpt-crawler"]
	path = eatnow/gpt-crawler
	url = https://github.com/builderio/gpt-crawler
