[submodule "frontend/crawler"]
	path = frontend/crawler
	url = https://github.com/builderio/gpt-crawler
[submodule "frontend/noco-db"]
	path = frontend/noco-db
	url = https://github.com/nocodb/nocodb-seed
